.titulo-principal {
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: 40px;
}

#salao {
    display: block;
    margin: 30px auto;
    object-fit: scale-down;
}

.principal {
    background-color: #e5e5e5;
    padding: 20px;
    margin-bottom: 10px;
}

.titulo-centralizado {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 26px;
}

p {
    text-align: center;
    padding: 10px;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.diferenciais {
    background-color: white;
    position: relative;
}

.imagembeneficios {
    margin: 0 22px;
    width: 512px;
    height: 340px;
}

.outra-caixa {
    position: absolute;
    margin: -343px 534px;
    width: 40%;
    display: flexbox;
    padding-left: 50px;
}

.titulo-diferenciais {
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.lista-diferenciais {
    display: inline-block;
    vertical-align: top;
    margin-right: 15%;
    list-style-type: inherit;
    padding-left: 15px;
    font-size: 16px;
}

.itens {
    font-style: italic;
    margin-bottom: 10px;
}